{{ define "home" }}

<!DOCTYPE html>
<html lang="pt_BR">
  {{ template "header" }}

  <body>
    <style type="text/css">.error {color: red;}</style>

    {{ template "navbar" }}

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-xl-10">
          <h1>Grafo</h1>
          <img class="img-fluid" src="/graph.png" alt="Imagem png do grafo gerado pelo go_graph">
          <p>Grafo gerado a partir do go_graph.</p>
        </div>

        <div class="col-sm-12 col-md-2 col-xl-2">
          <br />
          <form action="/graph/nodes/" method="POST" >
            <div class="form-group">
            {{ with .Errors.Node }}
	    <p class="error"> <small>{{ . }}</small></p>
            {{ end }}
              <label for="VerticeLabel">Vertice Label</label>
              <input type="text" class="form-control" id="VerticeUm" name="vertice_name" aria-describedby="verticeUmHelp" placeholder="A">
              <small id="verticeHelp" class="form-text text-muted">será o apelido e chave para recuperar o vertice.</small>
            </div>
            <div class="form-group">
              <label for="Vertice_color">Vertice Cor</label>
              <select name="vertice_color" class="form-control">
                <option selected>white</option>
                <option>blue</option>
                <option>red</option>
                <option>gold</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar Vertice</button>
          </form>
          <br />
          <form action="/graph/edges/" method="POST">
            <div class="form-group">
            {{ with .Errors.Edge }}
	      <p class="error"> <small>{{ . }}</small></p>
            {{ end }}
              <label for="ArestaLabel">Aresta/Arco Label</label>
              <input type="text" class="form-control" name="aresta_name" id="VerticeUm" aria-describedby="verticeUmHelp" placeholder="A">
              <small id="verticeHelp" class="form-text text-muted">será o apelido e chave para recuperar o vertice.</small>
            </div>
            <div class="form-group">
              <label for="VerticeWeight">Aresta/Arco Peso</label>
              <input type="text" class="form-control" name="aresta_weight" id="VerticeWeight" aria-describedby="verticeWeightHelp" placeholder="15">
              <small id="verticeWeightHelp" class="form-text text-muted">caso o grafo não seja valorado deixe este valor vázio.</small>
            </div>
            <div class="form-group">
            {{ with .Errors.FirstNode }}
	      <p class="error"> <small>{{ . }}</small></p>
            {{ end }}
              <label for="VerticeUm">Vertice</label>
              <input type="text" class="form-control" name="vertice_um" id="VerticeUm" aria-describedby="verticeUmHelp" placeholder="A">
              <small id="verticeUmtHelp" class="form-text text-muted">caso o grafo seja orientado este será o vertice <strong>origem</strong></small>
            </div>
            <div class="form-group">
            {{ with .Errors.SecondNode }}
	      <p class="error"> <small>{{ . }}</small></p>
            {{ end }}
              <label for="VerticeDois">Vertice</label>
              <input type="text" class="form-control" name="vertice_dois" id="VerticeWeight" aria-describedby="verticeDoisHelp" placeholder="B">
              <small id="verticeDoistHelp" class="form-text text-muted">caso o grafo seja orientado este será o vertice <strong>destino</strong></small>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar Aresta/Arco</button>
          </form>

        </div>
      </div>
    </div><!-- /.container -->

    {{ template "footer" }}
  </body>
</html>
{{ end }}
