{{ define "navbar" }}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Go Graph</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Go Graph</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Grafo</a></li>
        <li><a href="/">Algoritmos de Busca</a></li>
        <li><a href="/">Algoritmos de Coloração</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{{ end }}
