{{ define "search" }}

<!DOCTYPE html>
<html lang="pt_BR">
  {{ template "header" }}

  <body>
    <style type="text/css">.error {color: red;}</style>

    {{ template "navbar" }}

    <div class="container">

      <div class="row">
          <div class="col-sm-12 col-md-12 col-xl-12">
            <h3>Algoritmos de Busca</h3>
            <form actio="/graph/search" method="POST">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <select name="algorithm" class="form-control">
                    <option selected>Algoritmo</option>
                    <option>Floyd</option>
                    <option>A*</option>
                    <option>Dijkstra</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <input type="text" name="first_node" class="form-control" placeholder="Primeiro Vertice">
                </div>

                <div class="form-grup col-md-3">
                  <input type="text" name="end_node" class="form-control" placeholder="Ultimo Vertice">
                </div>

                <div class="form-group col-md-2">
                  <button type="submit" class="btn btn-primary">Procurar</button>
                </div>
              </div>
            </form>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
          <h1>Grafo</h1>
          <img class="img-fluid" src="/graph.png" alt="Imagem png do grafo gerado pelo go_graph">
          <p>Grafo gerado a partir do go_graph.</p>
        </div>
      </div>

    </div><!-- /.container -->

    {{ template "footer" }}
  </body>
</html>
{{ end }}
